<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
body {font-family: "Lato", sans-serif}
.mySlides {display: none}
</style>
    <title>song</title>
</head>
<body>
<div class="w3-black" id="tour">
    <a href="{%url 'home'%}">HOME</a><p>{{user.username}}</p>

{% for i in songs%}
<div class="w3-row-padding w3-padding-32" style="margin:0 -16px">

        <div class="w3-third w3-margin-bottom">
          <img src="/media/{{i.logo}}" alt="New York" style="width:100%"  class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>{{i.title}}</b></p>
            <p class="w3-opacity">{{i.artist}}</p>
            <audio controls class="w3-btn w3-round-xxlarge">
              <source src="/media/{{i.musicfile}}" type="audio/ogg">
              <source src="/media/{{i.musicfile}}" type="audio/mpeg">
            </audio>


          </div>
            {%endfor%}
        </div>
        <footer>
            <center>
            <p>Swag from <a href="www.sreedhar.tk">mello</a></p><br>
            <p>WE will add more feature as well as new music in these  coming days </p>
            </center>
        </footer>
</body>
</html>